@media screen and (max-width:700px) {
    .container{
        gap: 15px;
    }
    
    .item{
        padding: 2%;
        width: 80%;
        font-size: 18px;
    }
}

@media screen and (min-width:700px) {

    .container{
        gap: 20px;
    }

    .item{
        padding: 1%;
        width: 25%;
        font-size: 20px;
    }

    h1{
        font-size: 30px;
    }

    h3{
        font-size: 25px;
    }

    h4{
        font-size: 22px;
    }
}

@media screen and (min-width:1000px) {

    .container{
        grid-template-columns: 20% 20% 20%;
        gap: 25px;
    }

    .item{
        padding: 1%;
        width: 25%;
        font-size: 24px;
    }

    h1{
        font-size: 35px;
    }

    h3{
        font-size: 30px;
    }

    h4{
        font-size: 25px;
    }
}

.container{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

h1, h3, h4, h5{
    text-align: center;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(24, 18, 61);
    background-color: lightcyan;
}

h5{
    color: darkmagenta;
}

.item{
    background-color: paleturquoise;
    border: 2px solid turquoise;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 4px 3px rgb(28, 103, 95);
}

.item:hover{
    background-color: rgb(245, 190, 241);
    border: 2px solid orchid;
    box-shadow: 5px 4px 3px rgb(110, 43, 108);
}

img{
    max-width: 100%;
}